/* <-- Navbar CAN BAŞLANGIÇ --> */
.img-settings{
    width: 150px;
    height: 56px;
}
.img-settings{
    margin-top: 2px;
    width: 100%;
}
.ikon{
    margin-top: 20px;
}
.cizgi{
    border: 1px  red solid;
}
.box{
    height: 50px;
    width: 160px;
    align-items: center;
    gap: 30px;
    display: flex;
    font-size: 1rem;
    border:none ;
    outline: none;
    padding: 10px 12px;
    border-radius: 80px !important;
    background-color: rgb(228, 38, 38) ;
    color: white;
}
.search-input-wrapper .form-control {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

.search-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-control {
    
    display: block;
    width: 100px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-input-wrapper .btn-icon>i {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}


.search-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.box:hover {
    background-color: rgb(156, 45, 45);
    color: white; 
    transition: background-color 0.5s, color 0.3s; 
}

.box {
    position: relative;
}

.box::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px; 
    background-color: #bbbbbb;
    right: 110px;
    top: 0;
}

.box i {
    margin-right: 1px; 
}
.basketline{
    height: 50px;
    border:1px solid#dc1a2f ;
    background-color: #dc1a2f;
    border-radius: 20px;
    width: 150px;
    
}
.fa-solid{
    padding-top: 15px;
    padding-left: 20px;
}
.pshoppingg{
    border: 1px solid#E91D34;
    background-color: #E91D34;
    text-align: center;
    height: 49px;
    border-radius: 0 20px 20px 0;
    width: 110px;
    padding-top: 10px;


}

.pshoppingg:hover{
    background-color: #dc1a2f;
}

.basketline:hover{
    background-color: #dc1a2f;
}

/* <-- Navbar CAN BİTİŞ--> */

/* ANASAYFA SİDEBAR START KAYRA*/
.login-card{
    border: 2px solid #f2f2f2;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.carousel-title{
    font-size: 0.8rem;
    color: #8d8783;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    background-color: #fff;
}

/* ANASAYFA SİDEBAR END KAYRA */

/* MOTOR ANİMATİON START KAYRA */


#right-wheel{
    animation: wheel .5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#Group{
    animation: motor 1s ease-in infinite alternate;
    transform-origin: bottom;
}
#right{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}
#mid{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}
#left{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes motor{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}
@keyframes road{
    100%{
        transform: translateX(-180px);
    }
}

/* MOTOR ANİMATİON END KAYRA */



/* hesabım kısmı başlangıcı Mali  */


body{
    background-color: #F2F2F2;
}

.hesabim a{
font-family: Arial, Helvetica, sans-serif;
color: black;
}

.hesabim .card-red{
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
.hesabim .card-white{
    border-radius: 20px;
}

.hesabim .card-white p{
    color: red;

}
.hesabim .card-white .renk-atama{
    color: #909090;

}
.hesabim .icon-settings .renk-atama{
    color: #909090;
    font-size: 14px;

}
.hesabim .icon-settings i{
    color: red;
    text-align: center;
    display: block;
    margin-top: 50px;
    
}
.hesabim .icon-settings .card{
    border-radius: 20px;
    border: 0;
    height: 127px;
}

/* hesabım kısmı bitişi Mali  */



/* Footer başlangıç Mali  */

footer a{
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    text-decoration: none;
    color: black;
    width: 50px;
    display: inline-block;
    font-size: 30px;
 }

 .cizgi-1{
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .cizgi-logo{
    width: 135px;
 }
 .cizgi-kirmizi{
    width: 90px;
    height: 3px;
    background-color: #E91D34;
 }
 .cizgi-gri{
    width: 70px;
    height: 1px;
    background-color: rgb(234, 228, 228);
    margin-top: 1px;
 }
 .cizgi-grup{
    display: flex;
 }
 .bilgi-mail{
    font-size: 14px;
    text-decoration: none;
    color: rgb(112, 107, 107);
 }

 .footer-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    
 }
 .footer-list a {
    text-decoration: none;
    padding: 6px;
    display: block;
    
 }

 .sertifika{
   font-size: 14px;
   font-weight: 600;
 }


 /* Footer bitiş Mali  */
