/* Footer başlangıç Mali  */

footer a{
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    text-decoration: none;
    color: black;
    width: 50px;
    display: inline-block;
    font-size: 30px;
 }

 .cizgi-1{
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .cizgi-logo{
    width: 135px;
 }
 .cizgi-kirmizi{
    width: 90px;
    height: 3px;
    background-color: #E91D34;
 }
 .cizgi-gri{
    width: 70px;
    height: 1px;
    background-color: rgb(234, 228, 228);
    margin-top: 1px;
 }
 .cizgi-grup{
    display: flex;
 }
 .bilgi-mail{
    font-size: 14px;
    text-decoration: none;
    color: rgb(112, 107, 107);
 }

 .footer-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    
 }
 .footer-list a {
    text-decoration: none;
    padding: 6px;
    display: block;
    
 }

 .sertifika{
   font-size: 14px;
   font-weight: 600;
 }


 /* Footer bitiş Mali  */
