
    /* SİDEBAR CSS BAŞLANGIÇ HAKAN */
    .nav-link {
        background-color: #e91d34 !important
    }

    .div1 {
        width: 8%;
    }

    .nav-link {
        border: 1px solid white !important
    }

    .nav-link:hover {
        background-color: #ef6474 !important;
    }

    .active {
        background-color: #b41528 !important;
        color: #ffffff;
    }

    /* SİDEBAR CSS SON HAKAN */

/* <-- Navbar CAN BAŞLANGIÇ --> */
.img-settings{
    width: 150px;
    height: 56px;
}
.img-settings{
    margin-top: 2px;
    width: 100%;
}
.ikon{
    margin-top: 20px;
}
.cizgi{
    border: 1px  red solid;
}
.box{
    height: 50px;
    width: 160px;
    align-items: center;
    gap: 30px;
    display: flex;
    font-size: 1rem;
    border:none ;
    outline: none;
    padding: 10px 12px;
    border-radius: 80px !important;
    background-color: rgb(228, 38, 38) ;
    color: white;
}
.search-input-wrapper .form-control {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

.search-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-control {
    
    display: block;
    width: 100px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-input-wrapper .btn-icon>i {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}


.search-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.box:hover {
    background-color: rgb(156, 45, 45);
    color: white; 
    transition: background-color 0.5s, color 0.3s; 
}

.box {
    position: relative;
}

.box::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px; 
    background-color: #bbbbbb;
    right: 110px;
    top: 0;
}

.box i {
    margin-right: 1px; 
}
.basketline{
    height: 50px;
    border:1px solid#dc1a2f ;
    background-color: #dc1a2f;
    border-radius: 20px;
    width: 150px;
    
}
.fa-solid{
    padding-top: 15px;
    padding-left: 20px;
}
.pshoppingg{
    border: 1px solid#E91D34;
    background-color: #E91D34;
    text-align: center;
    height: 49px;
    border-radius: 0 20px 20px 0;
    width: 110px;
    padding-top: 10px;


}

.pshoppingg:hover{
    background-color: #dc1a2f;
}

.basketline:hover{
    background-color: #dc1a2f;
}

/* <-- Navbar CAN BİTİŞ--> */

/* ANASAYFA SİDEBAR START KAYRA*/
.login-card{
    border: 2px solid #f2f2f2;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.carousel-title{
    font-size: 0.8rem;
    color: #8d8783;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    background-color: #fff;
}

/* ANASAYFA SİDEBAR END KAYRA */

/* MOTOR ANİMATİON START KAYRA */


#right-wheel{
    animation: wheel .5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#Group{
    animation: motor 1s ease-in infinite alternate;
    transform-origin: bottom;
}
#right{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}
#mid{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}
#left{
    animation: road 0.5s linear infinite;
    background-repeat: repeat-x;
    width: 500%;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes motor{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}
@keyframes road{
    100%{
        transform: translateX(-180px);
    }
}

/* MOTOR ANİMATİON END KAYRA */




/* hesabım kısmı başlangıcı Mali  */


body{
    background-color: #F2F2F2;
}

.hesabim a{
font-family: Arial, Helvetica, sans-serif;
color: black;
}

.hesabim .card-red{
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
.hesabim .card-white{
    border-radius: 20px;
}

.hesabim .card-white p{
    color: red;

}
.hesabim .card-white .renk-atama{
    color: #909090;

}
.hesabim .icon-settings .renk-atama{
    color: #909090;
    font-size: 14px;

}
.hesabim .icon-settings i{
    color: red;
    text-align: center;
    display: block;
    margin-top: 50px;
    
}
.hesabim .icon-settings .card{
    border-radius: 20px;
    border: 0;
    height: 127px;
}

/* hesabım kısmı bitişi Mali  */



/* Footer başlangıç Mali  */

footer a{
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    text-decoration: none;
    color: black;
    width: 50px;
    display: inline-block;
    font-size: 30px;
 }

 .cizgi-1{
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .cizgi-logo{
    width: 135px;
 }
 .cizgi-kirmizi{
    width: 90px;
    height: 3px;
    background-color: #E91D34;
 }
 .cizgi-gri{
    width: 70px;
    height: 1px;
    background-color: rgb(234, 228, 228);
    margin-top: 1px;
 }
 .cizgi-grup{
    display: flex;
 }
 .bilgi-mail{
    font-size: 14px;
    text-decoration: none;
    color: rgb(112, 107, 107);
 }

 .footer-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    
 }
 .footer-list a {
    text-decoration: none;
    padding: 6px;
    display: block;
    
 }

 .sertifika{
   font-size: 14px;
   font-weight: 600;
 }


 /* Footer bitiş Mali  */

/* <-- RESTORAN URUNLERI TOLUNAY BASLANGIC --> */

body, html {
    height: 100%;
    color: #1b1007;
    background-color: #f2f2f2!important;
    font-family: Helvetica;
}
.bastakiresim{
    width: 100%;
}
.card{
    background-color: transparent;
    border-radius: 10px !important;
    border: 0 !important;
    margin: 15px !important;
}
.card h3{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.card:hover {
    opacity: .75;
    background-color: #e0dfdf;
    cursor: pointer;
}

.img-wrapper{
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 0px !important;
}
.col-12{
    padding: 0px !important;
}
.container{
    width: 80% !important;
}
.btnsepeti{
    border-radius: 3rem!important;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e91d34;
    border-color: #e91d34;
}
.sepet {
    border-radius: 3rem!important;
}
.btnsepeti:hover{
    color: #212529;
    text-decoration: none;
}

.btnarti{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    bottom: 14px;
    right: 14px;
    border: 1px solid #ef6474;
}

.card-text{
    color: #e91d34;
    font-size: 16px;
    font-weight: 700;
}

h2{
    font-size: 12px!important;
    font-weight: 400;
    line-height: 1.5rem;
    color: #999!important;
    border-radius: 19px;
    border: 1px solid #d8d8d8;
    line-height: 18px;
    padding: 6px 16px;
    background-color: white;
}

.nav{
    display: flex;
    list-style: none;
}

.nav-item {
    text-align: center;
    padding: 6px !important;
    text-decoration: none;
    color: #343a40;
    background-color: #f8f9fa;
}

.active h2 {
    background-color: #dc3545;
    color: white !important;
}

/* <-- RESTORAN URUNLERI TOLUNAY SON --> */
/* tükenmez started */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    color: #333333;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.long-line{
    background-color: #e91d34;
    height: 5px;
    border-radius: 5px 5px 0 0;
}

.short-line{
    background-color: #f2f2f2;
    height: 5px;
    border-radius: 0px 5px 0px 0px;
}
.shortlong{
    margin: 0 0 10px;
}
.countryflag{
    width: 60px !important;
    height: 40px;
}
#phonenumber{
    width:100%;
    height: 40px;
}
.k1{
    border: 1px solid black;
    width: 100%;
    
  }

.buttonn{
    border: 1px solid#e91d34;
    background-color:#e91d34;
    border-radius: 10px;
    height: 40px;
    width: 460px !important;
    margin-left: 5px;
}
.facebook{
    background-color: #005eff;
}
.btnsignup{
    width: 200px;
    height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.login-container{
    width: 40%;
}
/* tükenmez finished */


/* AYARLAR CSS BAŞLANGIÇ HAKAN */
.kapsayici{
    background-color: #f2f2f2;
}
.kapsayici1{
    width: 70rem !important
}
.kapsayici2{
    background-color: white;
}
.c1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-label1 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

.f1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-check-label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-check-label2 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.mb-3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    width: 110px !important
}

.hr1 {
    color: #bdbcbc;
}

.switch {
    position: absolute;
    right: 430px;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #38ce00;
    ;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* AYARLAR CSS SON HAKAN */

/* <-- Navbar CAN BAŞLANGIÇ --> */
.img-settings {
    width: 100px !important;
    height: 60px;
}

.searchh {
    width: 30rem;
}

.img-settings {
    margin-top: 2px;
    width: 100%;
}

.renk {
    background-color: #d8d8d8;
}

.ikon {
    margin-top: 20px;
}

.cizgi {
    margin: 0;
    border: 1px #e91d34 solid;
}

.box {
    height: 50px;
    width: 160px;
    align-items: center;
    gap: 30px;
    display: flex;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 80px !important;
    background-color: rgb(228, 38, 38);
    color: white;
}

.search-input-wrapper .form-control {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

.search-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-control {

    display: block;
    width: 100px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-input-wrapper .btn-icon>i {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}


.search-icon {
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.box:hover {
    background-color: rgb(156, 45, 45);
    color: white;
    transition: background-color 0.5s, color 0.3s;
}

.box {
    position: relative;
}

.box::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px;
    background-color: #bbbbbb;
    right: 110px;
    top: 0;
}

.box i {
    margin-right: 1px;
}

.basketline {
    height: 50px;
    border: 1px solid#dc1a2f;
    background-color: #dc1a2f;
    border-radius: 20px;
    width: 150px;

}

.fa-solid {
    padding-top: 15px;
    padding-left: 20px;
}

.pshoppingg {
    border: 1px solid#E91D34;
    background-color: #E91D34;
    text-align: center;
    height: 49px;
    border-radius: 0 20px 20px 0;
    width: 110px;
    padding-top: 10px;


}

.pshoppingg:hover {
    background-color: #dc1a2f;
}

.basketline:hover {
    background-color: #dc1a2f;
}

/* <-- Navbar CAN BİTİŞ--> */

/* Footer başlangıç Mali  */

.footer1{
    width: 70rem !important
}
.footer{
    background-color: white;
}
footer a {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    text-decoration: none;
    color: black;
    width: 50px;
    display: inline-block;
    font-size: 30px;
}

.cizgi-1 {
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cizgi-logo {
    width: 135px;
}

.cizgi-kirmizi {
    width: 90px;
    height: 3px;
    background-color: #E91D34;
}

.cizgi-gri {
    width: 70px;
    height: 1px;
    background-color: rgb(234, 228, 228);
    margin-top: 1px;
}

.cizgi-grup {
    display: flex;
}

.bilgi-mail {
    font-size: 14px;
    text-decoration: none;
    color: rgb(112, 107, 107);
}

.footer-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;

}

.footer-list a {
    text-decoration: none;
    padding: 6px;
    display: block;

}

.sertifika {
    font-size: 14px;
    font-weight: 600;
}


/* Footer bitiş Mali  */
